html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'League Spartan', sans-serif;
    display: flex;
    flex-direction: column;
}

.bimg {
    height: 40px;
    margin: 0 10px;
}

footer {
    margin-top: auto; /* pushes footer to bottom */
    text-align: center;
    padding: 20px;
}

.bottom-nav h3 {
    margin: 10px 0;
}

.bottom-nav a {
    text-decoration: none;
}
