html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'League Spartan', sans-serif;
    display: flex;
    flex-direction: column;
}

.bimg {
    height: 40px;
    margin: 0 2px;
}

footer {
    margin-top: auto; 
    text-align: center;
    padding: 20px;
}

.bottom-nav h3 {
    margin: 10px 0;
}

.bottom-nav a {
    text-decoration: none;
}

.firstname {
    font-size: 100px;
    margin-bottom: 10px;
}

.bio {
    font-size: 30px;
}

.pfp {
    height: 300px;
    width: 320px;
    border-radius: 500px;
}